:host {
  display: block;
  .todo-list {
    max-width: 26em;
    padding: 0 3em 3em;
    background-color: #fff;
    border-radius: 0.2em;
    // border: 1px solid #707070;
    position: relative;
    box-shadow: 0 6px 15px #cfd3da;
    /** to prevent margin collapse */
    display: flex;
    flex-direction: column;
    &-day {
      margin: 3em 0;
    }
    &-item {
      margin-bottom: 2em;
    }

    &-add,
    &-form {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
    &-add {
      bottom: -3em;
    }
    &-form {
      bottom: -1em;
      background-color: #fff;
    }
  }
}
