<div class="todo-list">
  <app-todo-day class="todo-list-day"></app-todo-day>
  <todo
    *ngFor="let todo of storeService?.todos$ | async; trackBy: TrackByFunction"
    [todo]="todo"
    class="todo-list-item"
    appTodoAction
  >
  </todo>
  <app-add-btn
    *ngIf="!addMode"
    class="todo-list-add"
    (btnClicked)="addMode = true"
  >
  </app-add-btn>
  <app-todo-form
    *ngIf="addMode"
    class="todo-list-form"
    (addNotify)="addTodoEvent($event)"
    (finishedNotify)="addMode = false"
  >
  </app-todo-form>
</div>
