<div
  class="todo-item"
  (mouseenter)="showAction = true"
  (mouseleave)="showAction = false"
>
  <label *ngIf="!editMode" [for]="todo?.id" [ngStyle]="getStyle()">
    {{ todo?.title }}
  </label>

  <form *ngIf="editMode" [formGroup]="form">
    <app-text-input
      [filedLabel]="'Add title for your todo'"
      [fieldId]="'todo-' + todo?.id"
      [control]="form?.get('title')"
    >
    </app-text-input>
  </form>

  <div class="todo-item-actions">
    <ng-container *ngIf="showAction && !editMode">
      <app-button small (btnClicked)="deleteAction()">
        <img [src]="'/assets/delete-button.svg'" alt="delete" />
      </app-button>
      <app-button small (btnClicked)="editMode = true">
        <img [src]="'/assets/edit-button.svg'" alt="edit" />
      </app-button>
    </ng-container>

    <ng-container *ngIf="!showAction || editMode">
      <ng-container *ngIf="editMode">
        <app-button small (btnClicked)="editAction()">
          <img [src]="'/assets/done-button.svg'" alt="done" />
        </app-button>
        <app-button small (btnClicked)="editMode = false">
          <img [src]="'/assets/cancel-button.svg'" alt="cancel" />
        </app-button>
      </ng-container>
    </ng-container>
    <input
      type="checkbox"
      [id]="todo?.id"
      [checked]="todo?.completed"
      (change)="checkedAction()"
    />
  </div>
</div>
