:host {
  display: block;
  .todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0 -1em;
    > * {
      margin: 0 1em;
    }
    &-actions {
      display: flex;
      align-items: center;

      > *:not(:last-child) {
        margin: 0 0.5em;
      }
    }
  }
}
