:host {
  display: block;
  color: var(--text-secondary);
  .todo-day {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-full {
      display: flex;
    }
    &-number {
      font-size: 3em;
      html[dir='rtl'] & {
        margin-left: 0.2em;
      }
      html[dir='ltr'] & {
        margin-right: 0.2em;
      }
    }
    &-my {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-transform: uppercase;
    }
  }
}
